language: java

jdk: openjdk11

sudo: false

addons:
  sonarcloud:
    organization: "ericmuller-github" # the key of the org you chose at step #3
    # token:
      # secure: $SONAR_API_KEY


script:
  - mvn clean verify sonar:sonar -Dsonar.login=$SONAR_API_KEY -Dmaven-surefire-plugin.reuseForks=false



deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY
  app: qcm-rest-api
  on:
    repo: EricMuller/qcm-rest-api

cache:
  directories:
     - '$HOME/.m2'
     - '$HOME/.sonar/cache'
